<app-ly-aside />

<div class="lg:pl-72">
	<app-ly-header />

	<main class="py-10">
		<div class="px-4 sm:px-6 lg:px-8">
			<app-ui-breadcrumbs />

			Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod. Lorem ipsum dolor sit, amet
			consectetur adipisicing elit. Assumenda qui reiciendis harum autem voluptas quidem excepturi reprehenderit,
			iusto ratione laudantium! Soluta dicta sequi delectus ex odio, quia illo amet ipsa? Lorem ipsum dolor sit,
			amet consectetur adipisicing elit. Assumenda qui reiciendis harum autem voluptas quidem excepturi
			reprehenderit, iusto ratione laudantium! Soluta dicta sequi delectus ex odio, quia illo amet ipsa? Lorem
			ipsum dolor sit, amet consectetur adipisicing elit. Assumenda qui reiciendis harum autem voluptas quidem
			excepturi reprehenderit, iusto ratione laudantium! Soluta dicta sequi delectus ex odio, quia illo amet ipsa?
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda qui reiciendis harum autem voluptas
			quidem excepturi reprehenderit, iusto ratione laudantium! Soluta dicta sequi delectus ex odio, quia illo
			amet ipsa? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda qui reiciendis harum autem
			voluptas quidem excepturi reprehenderit, iusto ratione laudantium! Soluta dicta sequi delectus ex odio, quia
			illo amet ipsa? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda qui reiciendis harum
			autem voluptas quidem excepturi reprehenderit, iusto ratione laudantium! Soluta dicta sequi delectus ex
			odio, quia illo amet ipsa? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda qui
			reiciendis harum autem voluptas quidem excepturi reprehenderit, iusto ratione laudantium! Soluta dicta sequi
			delectus ex odio, quia illo amet ipsa? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda
			qui reiciendis harum autem voluptas quidem excepturi reprehenderit, iusto ratione laudantium! Soluta dicta
			sequi delectus ex odio, quia illo amet ipsa? Lorem ipsum dolor sit, amet consectetur adipisicing elit.
			Assumenda qui reiciendis harum autem voluptas quidem excepturi reprehenderit, iusto ratione laudantium!
			Soluta dicta sequi delectus ex odio, quia illo amet ipsa? Lorem ipsum dolor sit, amet consectetur
			adipisicing elit. Assumenda qui reiciendis harum autem voluptas quidem excepturi reprehenderit, iusto
			ratione laudantium! Soluta dicta sequi delectus ex odio, quia illo amet ipsa? Lorem ipsum dolor sit, amet
			consectetur adipisicing elit. Assumenda qui reiciendis harum autem voluptas quidem excepturi reprehenderit,
			iusto ratione laudantium! Soluta dicta sequi delectus ex odio, quia illo amet ipsa? Lorem ipsum dolor sit,
			amet consectetur adipisicing elit. Assumenda qui reiciendis harum autem voluptas quidem excepturi
			reprehenderit, iusto ratione laudantium! Soluta dicta sequi delectus ex odio, quia illo amet ipsa? Lorem
			ipsum dolor sit, amet consectetur adipisicing elit. Assumenda qui reiciendis harum autem voluptas quidem
			excepturi reprehenderit, iusto ratione laudantium! Soluta dicta sequi delectus ex odio, quia illo amet ipsa?
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda qui reiciendis harum autem voluptas
			quidem excepturi reprehenderit, iusto ratione laudantium! Soluta dicta sequi delectus ex odio, quia illo
			amet ipsa? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda qui reiciendis harum autem
			voluptas quidem excepturi reprehenderit, iusto ratione laudantium! Soluta dicta sequi delectus ex odio, quia
			illo amet ipsa? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda qui reiciendis harum
			autem voluptas quidem excepturi reprehenderit, iusto ratione laudantium! Soluta dicta sequi delectus ex
			odio, quia illo amet ipsa? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda qui
			reiciendis harum autem voluptas quidem excepturi reprehenderit, iusto ratione laudantium! Soluta dicta sequi
			delectus ex odio, quia illo amet ipsa? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda
			qui reiciendis harum autem voluptas quidem excepturi reprehenderit, iusto ratione laudantium! Soluta dicta
			sequi delectus ex odio, quia illo amet ipsa? Lorem ipsum dolor sit, amet consectetur adipisicing elit.
			Assumenda qui reiciendis harum autem voluptas quidem excepturi reprehenderit, iusto ratione laudantium!
			Soluta dicta sequi delectus ex odio, quia illo amet ipsa? Lorem ipsum dolor sit, amet consectetur
			adipisicing elit. Assumenda qui reiciendis harum autem voluptas quidem excepturi reprehenderit, iusto
			ratione laudantium! Soluta dicta sequi delectus ex odio, quia illo amet ipsa? Lorem ipsum dolor sit, amet
			consectetur adipisicing elit. Assumenda qui reiciendis harum autem voluptas quidem excepturi reprehenderit,
			iusto ratione laudantium! Soluta dicta sequi delectus ex odio, quia illo amet ipsa? Lorem ipsum dolor sit,
			amet consectetur adipisicing elit. Assumenda qui reiciendis harum autem voluptas quidem excepturi
			reprehenderit, iusto ratione laudantium! Soluta dicta sequi delectus ex odio, quia illo amet ipsa? Lorem
			ipsum dolor sit, amet consectetur adipisicing elit. Assumenda qui reiciendis harum autem voluptas quidem
			excepturi reprehenderit, iusto ratione laudantium! Soluta dicta sequi delectus ex odio, quia illo amet ipsa?
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda qui reiciendis harum autem voluptas
			quidem excepturi reprehenderit, iusto ratione laudantium! Soluta dicta sequi delectus ex odio, quia illo
			amet ipsa? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda qui reiciendis harum autem
			voluptas quidem excepturi reprehenderit, iusto ratione laudantium! Soluta dicta sequi delectus ex odio, quia
			illo amet ipsa? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda qui reiciendis harum
			autem voluptas quidem excepturi reprehenderit, iusto ratione laudantium! Soluta dicta sequi delectus ex
			odio, quia illo amet ipsa?
		</div>
	</main>

	<!-- 3. Menú de Navegación Inferior (Footer Nav) para SM y abajo (Móvil) -->
</div>
<!-- MENU MOBIL -->
<app-ly-menu-mobile />
