<div
	class="sticky top-0 z-40 flex h-16 shrink-0 items-center gap-x-4 border-b border-on-surface/10 bg-surface px-4 shadow-xs sm:gap-x-6 sm:px-6 lg:px-8 dark:border-white/10 dark:bg-gray-900 dark:shadow-none"
>
	<div class="flex flex-1 gap-x-4 items-center self-stretch lg:gap-x-6">
		<div class="block lg:hidden">
			<app-ui-isotipo size="md" />
		</div>
		<form
			action="#"
			method="GET"
			class="grid flex-1 grid-cols-1"
		>
			<input
				name="search"
				placeholder="Search"
				aria-label="Search"
				class="col-start-1 row-start-1 block size-full bg-white pl-8 text-base text-gray-900 outline-hidden placeholder:text-gray-400 sm:text-sm/6 dark:bg-gray-900 dark:text-white dark:placeholder:text-gray-500"
			/>
			<svg
				viewBox="0 0 20 20"
				fill="currentColor"
				data-slot="icon"
				aria-hidden="true"
				class="pointer-events-none col-start-1 row-start-1 size-5 self-center text-gray-400"
			>
				<path
					d="M9 3.5a5.5 5.5 0 1 0 0 11 5.5 5.5 0 0 0 0-11ZM2 9a7 7 0 1 1 12.452 4.391l3.328 3.329a.75.75 0 1 1-1.06 1.06l-3.329-3.328A7 7 0 0 1 2 9Z"
					clip-rule="evenodd"
					fill-rule="evenodd"
				/>
			</svg>
		</form>
		<div class="flex items-center gap-x-4 lg:gap-x-6">
			<app-ui-notifications />

			<div
				aria-hidden="true"
				class="hidden lg:block lg:h-6 lg:w-px lg:bg-gray-200 dark:lg:bg-white/10"
			></div>

			<app-ui-darkmode />

			<!-- Separator -->
			<div
				aria-hidden="true"
				class="hidden lg:block lg:h-6 lg:w-px lg:bg-gray-200 dark:lg:bg-white/10"
			></div>

			<app-ui-user-dropdown />
		</div>
	</div>
</div>
